$header-height: 3.5em;
$btn-color: #404388;
$form-range-thumb-bg: $btn-color;

html,
body {
    height: 100%;
}

header {
    height: $header-height;
}

#my-content {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    margin-top: $header-height;
    width: 25%;
    min-width: fit-content;
}

#sidebar>.offcanvas-body {
    background-color: rgb(231 231 231);
    -webkit-box-shadow: 7px 2px 5px 0px rgb(184, 184, 184);
    -moz-box-shadow: 7px 2px 5px 0px rgb(184, 184, 184);
    box-shadow: 7px 2px 5px 0px rgb(184, 184, 184);
}

#graph {
    margin: 0 auto;
    height: 100%;
}

#input_label {
    height: 8.2em;
    border: 1px solid black;
}

#btn-submit {
    background-color: $btn-color;
    margin-left: 5px;
    border: 1px solid black;
}

#alertDiv {
    margin-bottom: 0.5em;
    display: none;
    // adicionar classe active para exibir
}

#alertDiv.active {
    display: inline-flex;
}

#alertText {
    padding-left: 0.5em;
    word-break: break-word;
}

#warningIcon {
    align-self: baseline;
}

form p {
    display: inline;
    font-size: larger;
}

.alert-custom {
    --bs-alert-color: #ffffff;
    --bs-alert-bg: #838383;
    --bs-alert-border-color: #686868;
}

.form-expression>div {
    display: flex;
    align-items: baseline;
}

.form-expression {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    select,
    label,
    .between-buttons {
        margin-right: 0.18em;
        margin-left: 0.18em;
    }

}

.form p,
.identificador {
    min-width: max-content;
}

.identificador {
    font-size: 1.2em;
    margin-left: 0.18em;
    display: inline-block;
    align-self: center;
    font-weight: 500;
}

.btn.btn-light {
    -webkit-box-shadow: inset 0px 0px 14px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 14px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 14px 1px rgba(255, 255, 255, 1);
}

.btn.btn-light.active {
    border: 1.5px solid;
    background-color: #fcfdff;
    border-color: $btn-color;
}

#fo-div {
    display: none;
}

#form-input {
    margin-bottom: 0.5em;
}

#list-ul {
    border-radius: 10px;
}

.list_expr {
    padding: 0.5em;
    background: #f5f5f5;
}

.list_expr>p {
    margin-left: 1em;
}


.title_and_check {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#fo-type-select {
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
}

.form-check-input {
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.3em;
}

.form-expression {
    margin-left: 1em;
    margin-right: 1em;
}



@media (prefers-reduced-motion: reduce) {
    input[type=range]::-webkit-slider-thumb {
        -webkit-transition: none;
        transition: none;
    }
}

input[type=range]::-webkit-slider-thumb {
    background: #5457b3;
}

input[type=range]::-webkit-slider-thumb:active {
    background: #777bfc;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #AAAAAA;
    border-color: transparent;
    border-radius: 1rem;

}

:root {
    --bs-dark-rgb: 47, 53, 58;
}

.form-check-input[type=checkbox] {
    border-radius: 50%;
}

#check-fo:checked {
    background-color: #000000;
}